body {
    background-color: lightblue;
    text-align: center;
    background-image: url("world map.jpg");
    background-position: top;
}

h2 {
    font-family: sans-serif;
}

#headerImg {
    width: 100%;
}